/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Roboto",sans-serif;
}
.bg-primary{
    background-color: #3c66ce !important;
    color: white;
}
.bg-primary h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    position: relative;
    top: 6px;
    left: 32px;
}
.btn-warning,.btn-primary{
    background-color: #000048 !important;
    color: white !important;
    border-radius: 0 !important;
    border: 2px solid #000048  !important;
    margin-right: 32px;
    font-size: 1rem;
    font-weight: 400;
}
.btn-warning:hover,.btn-primary:hover{ 
    background-color: white !important;
    color: #000048 !important;
    border-radius: 0 !important;
    border: 2px solid #000048 !important;
}
.search-container{
    padding: 1rem 0;
}
.search-container .searchBox{
    padding:8px 16px;
    width: 50%;
    border: 1px solid rgba(206, 206, 206, 0.5);
}
.search-parent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container{
    padding :0 !important;
}

table{
    border: 1px solid #eeeeee;
}
tr:nth-child(odd){
    background-color: #c9c9c93b;
}

.search-action-parent{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
}
input{
    padding:8px 16px !important;
    margin-right:8px !important;
    border-radius: 0;
    border: 1px solid rgba(206, 206, 206, 0.5) !important;
}
.btn-outline-primary{
    background-color: white !important;
    color: #000048 !important;
    border-radius: 0 !important;
    border: 2px solid #000048  !important;
    font-size: 1rem;
    font-weight: 400;
}

.btn-outline-primary:hover{
    background-color: #000048 !important;
    color: white !important;
    border-radius: 0 !important;
    border: 2px solid #000048  !important;
    font-size: 1rem;
    font-weight: 400;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    padding:0 !important;
    border-radius: 60px !important;
}
.action-container{
    padding-top: 24px !important;
}

.login-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
a{
    color:#000048;
}
input[type="radio"]:checked{
    background-color:#000048;
}
.header-text{
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    width: 100%;
    margin: 24px 0px;
    font-size: 24px;
}
.sub-header{
    font-size: 18px;
    margin:16px 0px;
    font-weight: bold;
}
.register-container .form-group{
    margin:8px 0px 16px 0;
}
.error-tag{
    color: red;
}